// Fonts
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700|Ubuntu:400,700);


body {
	font-family: "Ubuntu";
}


h1 {
	font-size: 2.4rem;
	line-height: 3.4rem;
	font-weight: "700";
	padding: 2rem 0;
	color: #2A47A8;

	@include breakpoint(medium) {
		font-size: 2.4rem;
		line-height: 3.4rem;
	}
	@include breakpoint(large) {
		font-size: 4rem;
		line-height: 4.8rem;
	}
	@include breakpoint(xlarge) {
		font-size: 5rem;
		line-height: 6rem;
	}
}


h3 {
	font-size: 1.2rem;
	line-height: 1.8rem;
	font-weight: "400";
	color: $black;
	@include breakpoint(medium) {
		font-size: 1.2rem;
		line-height: 1.8rem;
	}
	@include breakpoint(large) {
		font-size: 1.4rem;
		line-height: 2rem;
	}
	@include breakpoint(xlarge) {
		font-size: 1.6rem;
		line-height: 2.2rem;
	}
}